---
Language: Cpp
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: All
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
BreakBeforeBraces: Stroustrup
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
FixNamespaceComments: true
NamespaceIndentation: None
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: true
SpacesInContainerLiterals: false
SpaceAfterTemplateKeyword: false
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: Yes
...
